<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>tabela</title>
		<style>
			table,td,tr,th{
				border: 1px solid black;
			}
			td,th{
				padding: 2.5px;
			}
			.txt{
				margin-top: 0;
				margin-bottom: 0;
			}
			.txt-t{
				margin-bottom: 0;
			}
		</style>
	</head>
	<body>
		<p>Prezado Sr(a)</p>
		<p>Voce está recebendo esta mensagem devido a uma ocorrência no sistema elétrico da empresa {{ empresa }}.</p>
		<p class="txt-t">Subestação: {{ subestacao }}</p>
		<p class="txt">Modulo: {{ modulo }}</p>
		<p class="txt">Equipamento: {{ equipamento }}</p>
		<p class="txt-t" style="white-space:pre;">Inicio:     {{ inicio }} </p>
		<p class="txt">Termino: {{ termino }}</p>
		<p>Duração: {{ duracao }}</p>	
		<table style="width:1000px">	
			<tr>
				<th>CORRENTES DE FALTA</th>
				<th>PRE-OCORRÊNCIA</th>
				<th>PÓS-RESTABELECIMENTO</th>
			</tr>
			<tr>
				<td></td>
				<td>Potência Ativa = {{ round(num = pre_ocor.potencia_ativa,n = 2) }}</td>
				<td>Potência Ativa = {{ round(num = pos_ocor.potencia_ativa,n = 2) }}</td>
			</tr>
			<tr>
				<td>Correntes de Falta Fase A = {{ round(num = faltas.fase_a,n = 2) }}</td>
				<td>Correntes na Fase A = {{ round(num = pre_ocor.fase_a,n = 2) }}</td>
				<td>Correntes na Fase A = {{ round(num = pos_ocor.fase_a,n = 2) }}</td>
			</tr>
			<tr>
				<td>Correntes de Falta Fase B = {{ round(num = faltas.fase_b, n = 2) }}</td>
				<td>Correntes na Fase B = {{ round(num = pre_ocor.fase_b, n = 2) }}</td>
				<td>Correntes na Fase B = {{ round(num = pos_ocor.fase_b, n = 2) }}</td>
			</tr>
			<tr>
				<td>Correntes de Falta Fase C = {{ round(num = faltas.fase_c, n = 2) }}</td>
				<td>Correntes na Fase C = {{ round(num = pre_ocor.fase_c, n = 2) }}</td>
				<td>Correntes na Fase C = {{ round(num = pos_ocor.fase_c, n = 2) }}</td>
			</tr>
			<tr>
				<td>Correntes de Falta Fase Neutro = {{ round(num = faltas.fase_n, n = 2) }}</td>
				<td>Correntes na Fase Neutro = {{ round(num = pre_ocor.fase_n, n = 2) }}</td>
				<td>Correntes na Fase Neutro = {{ round(num = pos_ocor.fase_n, n = 2) }}</td>
			</tr>
		</table>
		<br>
		<table style="width:1000px">	
			<tr>
				<th colspan="4">EVENTOS</th>
			</tr>
			<tr style="text-align: center">
				<td>Hora do Evento</td>
				<td>Mensagem</td>
				<td>Hora da Gravação</td>
				<td>Operador</td>
			</tr>
			{% for soe in ocor_soe %}
			<tr>
				<td>{{ soe.hora_inicio }}</td>
				<td>{{ soe.mensagem }}</td>
				<td>{{ soe.hora_fim }}</td>
				<td>{{ soe.agente }}</td>
			</tr>
			{% endfor%}
		</table>
		<br>
		<table style="width:1000px">	
			<tr>
				<th colspan="4">ÚLTIMAS OCORRÊNCIAS EM: {{ subestacao}} {{ modulo}} {{ equipamento }}</th>
			</tr>
			<tr style="text-align: center">
				<td>Data Hora Ocorrências</td>
				<td>Correntes de Falta</td>
				<td>Proto Sen</td>
				<td>Proto Atu</td>
			</tr>
			{% for eqp in eqps_ant %}
			<tr>
				<td>{{ eqp.inicio }}</td>
				<td>
					A = {{ round(num = eqp.faltas.fase_a,n = 2) }} 
					B = {{ round(num = eqp.faltas.fase_b,n = 2) }} 
					C = {{ round(num = eqp.faltas.fase_c,n = 2) }} 
					Neutro = {{ round(num = eqp.faltas.fase_n, n = 2) }}
				</td>
				<td>{{ eqp.prot_sen }}</td>
				<td>{{ eqp.prot_atu }}</td>
			</tr>
			{% endfor%}
		</table>
	</body>
</html>